@font-face {
    font-family: 'monocraft';
    src: url(assets/fonts/Monocraft.ttf);
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monocraft;
}

/* Animacion de cuadrado 
utilizando 8 sombras iniciales sin posicion, 
pasandolas a 8 sombras en posiciones escalonadas para generar el efecto
tridimensional*/

@keyframes box-pop-out{
    0%{
        box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
        transform: translate(0px, 0px);
    }
    100%{
        box-shadow: 1px -1px #67502c, 2px -2px #67502c, 3px -3px #67502c, 4px -4px #67502c, 5px -5px #67502c, 6px -6px #67502c, 7px -7px #67502c, 8px -8px #67502c, 9px -9px #67502c, 10px -10px #67502c;
        transform: translate(-8px, 8px);
    }
}
.box{
    background-image: url(https://static.planetminecraft.com/files/image/minecraft/texture-pack/2020/428/13530476-cover_l.webp);
    background-size: contain;
    
    
    transition-property: box-shadow, transform;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    animation-fill-mode: forwards;

    border: 2px solid #67502c;
    border-radius: 3px;

    max-width: 320px;
    
    
    

}
.box:hover{
    animation: box-pop-out 0.6s ease forwards alternate;
}


body{
    background-image: url(assets/backgrounds/obsidian.jpg);
    background-size: 70px
}


/* nav */
nav{
    background-image: url(assets/backgrounds/obsidian.jpg);
    background-size: 70px;
    height: 70px;
    
}
nav button{
    color: white;
}

li{
    list-style: none;
    
}


/* header */

header{

    
    color: white;
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 300px;
    padding-bottom: 320px;
    background-image: url(https://i.redd.it/841666uly00b1.gif);
    background-size: 100px;
    
    

    border-top: 3px solid black;
    border-radius: 13px;
    
    
    
}

header h1{
    color: white;
    font-size: 40px;
    font-weight: 40px;
    font-family: monocraft;
    
    -webkit-text-stroke: 0.5px black; 
    
}

header li{
    color: white;
    font-size: 25px;
    

}

/* idioma y modos */
.a{
    border: 0px;
    margin: 15px;
    background-color: unset;
    
}
.a img{
    width: 30px;
}
a{
    text-decoration: none;
    color: unset;   
}



/* main */
main{
    margin-left: 70px;
    margin-right: 70px;
    background-image: url(https://i.redd.it/841666uly00b1.gif);
    background-size: 100px;
    border: none;
    
    
    
}
main h2{
    color: white;
}
main img{
    width: 80px;
    height: 80px;
    
}

.box p{
    
    font-size: 23px;
    color: black;
    
    
    
}

.tec{
    
    background-image: url(assets/backgrounds/e9904cdb30314092a60f1ec18711bbbf.jpg);
    background-size: cover;
    font-size: 16px;
    font-weight: lighter;
}

p{
    color: white;
}


/* Zona de formacion, con animacion */
.enchanting{    
    font-size: 20px;
    
    background-color: rgb(160, 145, 114);  
    margin: -9px;

    border: 5px solid rgb(40, 39, 39);
    border-left: 4px solid rgb(105, 94, 73); 
    
    outline: 3px solid rgba(234, 211, 166, 0.4);
    outline-offset: -7px; 


    height: 80px;
    width: 610px;
    color: rgb(56, 53, 53);
    
    transition-property: box-shadow, transform;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    animation-fill-mode: forwards;

    

}
.enchanting:hover{
    transform: scale(1.1);
}



.enchanting img{
    
    width: 40px;
    height: auto;
}
.enchantingxp{
    color: greenyellow;
    margin-left: 80px;
}





/* footer */
footer{
    background-image: url(https://static.planetminecraft.com/files/image/minecraft/texture-pack/2022/688/15763358-unnamed_l.webp);
    background-size: 70px;

    margin-top: 60px;
    height: 70px;
}